<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="sqlserver" providerName="System.Data.SqlClient" connectionString="Persist Security Info=False;Data Source=(local);Initial Catalog=Poseidon;Integrated Security=SSPI"/>
      <add name="mongodb" connectionString="mongodb://uposeidon:pose.170308!@210.28.16.82:27015/poseidon" />
      <add name="mongodb3" connectionString="mongodb://localhost:27017" />
      <add name="mongodb2" connectionString="mongodb://uposeidon:poseidon.123@localhost:27017/poseidon" />
    </connectionStrings>
    <appSettings>
      <!-- 应用程序名称 -->
      <add key="ApplicationName" value="能源科信息管理系统" />

      <!-- 数据库类型 -->
      <add key="DbType" value="mongodb"/>

      <!-- 数据库连接字符串键值 -->
      <add key="DbConnection" value="mongodb"/>

      <!-- 数据访问层名空间前缀 -->
      <add key="DALPrefix" value="Mongo" />

      <!-- 插件DLL路径 -->
      <add key="PluginPath" value="plugins"/>
    </appSettings>
</configuration>